<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <meta charset="UTF-8">
    <title>
    {% if title %}
    {{ title }} - Progress
    {% else %}
    Progress Hobby Tracker
    {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    {% block nav %}{% endblock %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>