{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<img src="{{ url_for('static', filename='images/LogoV4White.svg') }}" class='logo'>
		<div id='centeredElements'>
			<div id='centeredLeft'>
				<p>{{ form.username.label }}</p>
				<p>{{ form.password.label }}</p>
				<p>{{ form.remember_me.label }}</p>
			</div>
			<div id='centeredRight'>
				<p>{{ form.username(size=32) }}</p>
				<p>{{ form.password(size=32) }}</p>
				<p>{{ form.remember_me }}</p>
			</div>
		</div>

		<div id='alignCenter'>

			<!-- get and print all errors for invalid login -->
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
			
			<p>
			{{ form.submit(class_='signIn') }}
			</p>
			<p>
				Not a member? <a href="{{ url_for('register') }}">Register Now</a>
			</p>
			

			{% for error in form.username.errors %}
       			<span style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
       		{% endfor %}
        	{% for error in form.password.errors %}
       			<span style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
        	{% endfor %}
		</div>
	</form>
{% endblock %}