{% extends "baseNav.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/newHobby.css') }}">
{% endblock %}

{% block content %}
<form action="" method="POST">
	{{ form.hidden_tag() }}
	<div id="form">	
		<p>
			{{ form.name(placeholder="Hobby Name...", class="wtfString") }}
		</p>
		{% for error in form.name.errors %}
           		<span style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
		{% endfor %}
		<div id="durFreq">
			<p>
				Frequency (Days per week)
			</p>

			<!-- Day of Week choice buttons -->
				<div id="freqChoices">
					<label class="container">
						{{ form.frequencySun() }}
						<span class="checkmark">S</span>
					</label>

					<label class="container">
						{{ form.frequencyMon() }}
						<span class="checkmark">M</span>
					</label>

					<label class="container">
						{{ form.frequencyTue() }}
						<span class="checkmark">T</span>
					</label>

					<label class="container">
						{{ form.frequencyWed() }}
						<span class="checkmark">W</span>
					</label>

					<label class="container">
						{{ form.frequencyThu() }}
						<span class="checkmark">T</span>
					</label>

					<label class="container">
						{{ form.frequencyFri() }}
						<span class="checkmark">F</span>
					</label>

					<label class="container">
						{{ form.frequencySat() }}
						<span class="checkmark">S</span>
					</label>
				</div>

			<!-- Duration selection and error handling -->
			<p>
				{{ form.duration.label }}
			</p>
			<p>
				{{ form.duration }}
			</p>
			{% for error in form.duration.errors %}
           		<span style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
            {% endfor %}
		</div>

		<!-- Cluster of notes text box and label -->
		<div id="notesCluster">
			<p>
				{{ form.notes.label }}
				{{ form.notes(class='textArea', placeholder='Notes...') }}
			</p>
			{% for error in form.notes.errors %}
           		<span style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
            {% endfor %}
		</div>

		<!-- Cluster of goals text box and label -->
		<div id="goalsCluster">
			<p>
				{{ form.goals.label }}
				{{ form.goals(class='textArea', placeholder='(Optional)...') }}
			</p>
		</div>
		{% for error in form.goals.errors %}
           		<span style="color: red; font-family: 'Roboto', sans-serif;">{{ error }}</span>
        {% endfor %}
		<div id="submitCancelContainer">
			<p>
				{{ form.submit(class="submit") }}
			</p>
			<p>
				<a href=" {{ url_for('hobbies', username=current_user.username) }}" class='cancelBtn'>Cancel</a>
			</p>
		</div>
	<div id="form">
</form>
{% endblock %}