form{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex-grow: 1;
	background-color: blue;
	width: 100%;
}

#hobbyContainer{
	display: flex;
	flex-direction: row;
	height: 100%;
	margin-top: 43px;
}

#hobbyContainer p{
	display: block;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#form{
	position: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: yellow;
}


#hobbiesList{
	display: flex;
	flex-grow: 1;
	left: 45px;
	height: 100%;
	width: 15%;
	border-right: 2px solid #2e2e30;
}

#hobbiesList ul{
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	list-style-type: none;
}

#hobbiesList li{
	display: flex;
	flex-direction: column;
	width: 100%;
	float: left;
	border: 1px grey;
}

#hobbiesList li:hover, li:active{
	background-color: #515151;
	cursor: pointer;
}

#hobbiesList p{
	flex-grow: 1;
	font-family: 'Roboto', sans-serif;
	text-align: right;
	padding-right: 5px;
	color: white;
}

#hobbiesList a{
	flex-grow: 1;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0px;
	text-align: right;
}

/* Hobby Content */
#hobbiesContent{
	display: flex;
	flex-grow: 100;
	width: 100%;
}

#durFreq{
	padding: 10px 0px 0px 10px;
	width: 100%;
}

#notesCluster, #goalsCluster{
	display: block;
	padding-left: 10px;
	height: 30%;
}

.textArea{
	resize: none;
	display: block;
	margin-left: 10px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	color: white;
	background-color: #515151;
	border: 1px solid #2e2e30;
}

.wtfString{
	display: block;
	position: fixed;
	color: white;
	box-shadow: inset 4px 0px white;
	border: 0px;
	padding: 10px 0px 10px 10px;
	background-color: #515151;
	width: calc(100% - 55px);
	top: 0px;
	left: 45px;
	font-size: 15pt;
}

#submitContainer{
	padding-left: 10px;
}

.submit{
	border: none;
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	margin-right: 20px;
	background-color: #FF5A5A;
}

.submit:hover{
	background-color: #af3d3d;
	cursor: pointer;
}