#hobbyTitle{
	display: flex;
	flex-direction: row;
	height: 48px;
	left: 45px;
	background-color: #515151;
	box-shadow: inset 4px 0px white;
}

#hobbyTitle p{
	display: flex;
	flex-grow: 1;
	align-items: center;
	color: white;
	margin-left: 9px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
}

#hobbyTitle a{
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin-right: 5px;
}

#calendar{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	padding-bottom: 10px;
}

#titleControls{
	display: block;
	margin-top: 15px;
	float: right;
}

/* Calendar Controls */

#calendarControls{
	display: flex;
	flex-direction: row;
	margin: 10px 0px 0px 10px;
}

#calendarControls p{ 
	padding: 2px;
	border: none;
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	margin-right: 20px;
	background-color: #FF5A5A;
}

#calendarControls p:hover{
	background-color: #af3d3d;
	cursor: pointer;
}

#monthDropdown, #yearDropdown{
	margin-top: 30px;
	max-height: 200px;
	overflow: scroll;
	display: none;
}

#monthDropdown{
	position: absolute;
	overflow-x: hidden;
}

#yearDropdown{
	margin-left: 95px;
	position: absolute;
	overflow-x: hidden;
}

#monthDropdown:hover, #yearDropdown:hover{
	display: block;
}

#monthCtrlButton:hover + #monthDropdown{
	display: block;
}

#yearCtrlButton:hover + #yearDropdown{
	display: block;
}

.dropdownItem{
	color: white;
	display: block;
	padding: 10px 10px;
	background-color: #515151;

	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

.dropdownItem:hover {
	background-color: #39383B;
}

/* Calendar Days */

#calendarDays{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

	height: 100%;

	padding: 0px 0px 0px 10px;
}

#calendarDays p{
	user-select: none;
}

#calendarDays a{
	text-decoration: none;
}

#calendarDays .pastDay{
	background-color: grey;
	color: white;
}

#calendarDays .futureDay{
	background-color: white;
	color: black;
}

#calendarDays .notCurrDay{
	background-color: #b2b2b2;

	color: grey;
}

#calendarDays .futureDay:hover, #calendarDays .pastDay:hover{
	background-color: #515151;
	color: white;
	cursor: pointer;
}

#calendarDays .day{
	display: flex;
	flex-direction: column;
	margin: 10px 10px 0px 0px;
	padding: 3px;
	width: 13.4%;
	flex-grow: 1;
	overflow: hidden;
	
	border-radius: 4px;
	
	font-family: 'Roboto', sans-serif;
}

#calendarDays .listedHobby{
	padding-left: 2px;}

.listedHobby{
	overflow: hidden;
}




